<div class="container">
    <h3>Ingresar vehículo</h3>
    <form (ngSubmit)="onSubmit()">

      <div class="form-group">
          <label for="tipoVehiculo">Tipo de vehículo</label>
          <select class="form-control" id="tipoVehiculo">
              <option *ngFor="let tipoVehiculo of tiposVehiculo" [value]="registro.tipoVehiculo">{{tipoVehiculo}}</option>
          </select>
      </div>

      <div class="form-group">
        <label for="placa">Placa</label>
        <input type="text" class="form-control" id="placa" [(ngModel)]="registro.placa" [ngModelOptions]="{standalone: true}">
      </div>
 
      <div class="form-group">
        <label for="cilindrajeCC">Cilindraje (CC)</label>
        <input type="number" class="form-control" id="cilindrajeCC" [(ngModel)]="registro.cilindrajeCC" [ngModelOptions]="{standalone: true}">
      </div>
      &nbsp;&nbsp;
      <button type="submit" class="btn btn-success">Ingresar</button>
    </form>
</div>