<div class="col-md-6">
  <h2> Ceiba parqueadero</h2>
  <h3> Registros activos</h3>
  <div class="row">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Tipo de vehiculo</th>
      <th>Placa</th>
      <th>Cilindraje (CC)</th>
      <th>Fecha entrada</th>
      <th>Opciones</th>
    </tr>
    </thead>
    <tbody>
          <tr *ngFor="let registro of registros">
            <td>{{registro.tipoVehiculo}}</td>
            <td>{{registro.placa}}</td>
            <td>{{registro.cilindrajeCC}}</td>
            <td>{{registro.fechaEntrada}}</td>
            <td><button (click)="retirarRegistro(registro)">Retirar registro</button>
          </td>
          </tr>
    </tbody>
  </table>
  <div *ngIf="registroSalida">
      <h4>Registro de salida</h4>
      <table class="table table-striped">
          <thead>
          <tr>
            <th>Tipo de vehículo</th>  
            <th>Placa</th>
            <th>Cilindraje (CC)</th>
            <th>Fecha de entrada</th>
            <th>Fecha de salida</th>
            <th>Valor a pagar</th>
          </tr>
          </thead>
          <tbody>
              <tr>
                  <td>{{registroSalida.tipoVehiculo}}</td>
                  <td>{{registroSalida.placa}}</td>
                  <td>{{registroSalida.cilindrajeCC}}</td>
                  <td>{{registroSalida.fechaEntrada}}</td>
                  <td>{{registroSalida.fechaSalida}}</td>
                  <td>{{registroSalida.valorAPagar}}</td>
                </tr>
          </tbody>
        </table>
  </div>
</div>
</div>