<div *ngIf="registro">
    <div class="alert alert-success">
        <strong>¡Vehículo retirado con éxito!</strong> Se ha generado la factura para el vehículo {{registro.placa}}
    </div>
    <h4> Registro de salida de vehículo</h4>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Tipo de vehiculo</th>
        <th>Placa</th>
        <th>Cilindraje (CC)</th>
        <th>Fecha de entrada</th>
        <th>Fecha de entrada</th>
        <th>Valor a pagar</th>
      </tr>
      </thead>
      <tbody>
        <td>{{registro.tipoVehiculo}}</td>
        <td>{{registro.placa}}</td>
        <td>{{registro.cilindrajeCC}}</td>
        <td>{{registro.fechaEntrada}}</td>
        <td>{{registro.fechaSalida}}</td>
        <td>{{registro.valorAPagar}}</td>
      </tbody>
    </table>
</div>
